%h1 View with variables
%p= foo

:css
  body { color: red; }

%p hello

%p= "hi"

:if{ condition: (num >= 5) }
  %span num is greater than 5

%ul
  :foreach{ array: stuff, key: 'i', value: 'thing' }
    %li= this.thing
